body {
	font-family: 'Noto Sans TC', sans-serif;
}

.album-link {
	text-decoration: none;
	background-color: darkslategray;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	margin: 10px;
	font-size: 20px;
	display: block;
}

.sounds {
	background-color: #444;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 15px;
	text-align: center;
	margin: 10px;
	font-size: 16px;
	display: block;
}

audio {
	margin-top: 15px;
}

